*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-image: url(https://images5.alphacoders.com/107/thumb-1920-1077984.jpg);
}
a{
    color: blue;
    text-decoration:none;
}
#camp{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.divs{
    width: 40vw;
    height: 80vh;
    background-color: rgb(135, 206, 250,0.7);
    border-radius: 30px;

}
.divs:hover{
    background-color:  rgb(135, 206, 250,0.89);
}
#texto{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.dv p{
    margin: 10px 5px;
    font-size: 20px;
    padding: 15px;
}
.dv h2{
    margin: 15px;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dv h2:hover{
    color: blue;
}
#poro{
    border-radius: 25px;
    border: solid 2px royalblue;
    opacity: 0.8;
}
#poro:hover{
    opacity: 1;
    width: 375px;

}
#map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#map p{
    font-size: 30px;
    margin: 5px;
    font-family: fantasy;
}
#map p:hover{
    color: goldenrod;
    font-size: 35px;
    transition: all 0.5s ease-out;

}
#map img{
    width: 350px;
    border-radius: 25px;
    opacity: 0.8;
}
#map img:hover{
    opacity: 1;
    width:450px;
    transition: all 1s ease-out;
}

@media (max-width:1024px){
    #camp{
        flex-direction: column-reverse;
        overflow: auto;
    }
    .divs{
        width: 90vw;
        height: 80vh;
        overflow: auto;
        margin-top: 10px;
        padding: 10px;
    }
    .divs p{
        margin:1px;
        padding:0;
        font-size: 14px;
    }
    .divs h2{
        margin:2px;
    }
    #poro{
        width: 150px;
    }
    #poro:hover{
        width: 180px;
    }
    #map img{
        width: 250px;
    }
    #map img:hover{
        width: 270px;
        transition:all 1s ease-out
        
    }


}